---
layout: default
---
<meta http-equiv="refresh" content="0; url=assets/pdfs/lipkowitz_cv_portfolio.pdf">
<!-- <a href="https:/gabriel-lipkowitz.com/assets/pdfs/cv.pdf" download="MyFile.pdf">Download File</a> -->
<!-- <a href="https://github.com/gabriel-lipkowitz/gabriel-lipkowitz.github.io/blob/d008a139b07a50fc4be8f42cb66d30304636b753/assets/pdfs/cv.pdf" target="_blank" rel="noopener noreferrer">Download CV</a> -->
<!-- <script>
    window.addEventListener('load', () => {
        // Create a new anchor element dynamically
        const link = document.createElement('a');
        link.href = 'https://gabriel-lipkowitz.com/assets/pdfs/cv.pdf';
        link.download = '~/cv.pdf'; // This will suggest a download but might not always work cross-origin
        document.body.appendChild(link); // Append to body (might not be necessary depending on browser)
        link.click(); // Simulate a click on the link
        document.body.removeChild(link); // Clean up
    });
    </script> -->